
body {
    background-color:#EBEBEB;
}
.head {

    position: absolute;
    width: 1920px;
    height: 70px;
    left: 0px;
    top: 0px;
    
    background: #434343;
}

.hr-1  {

width: 992px;
}

    .container {
    box-sizing: border-box;
    
    position: absolute;
    width: 996px;
    height: 418px;
    left: 155px;
    top: 163px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
   }

.head .content-header .logo {
    position: absolute;
    width: 176px;
    height: 48px;
    left: 46px;
    top: 8px;
    color: #FFFFFF;

    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    text-decoration: none;
}
.head .content-header .active {
    position: absolute;
    width: 221px;
    height: 39px;
    left: 293px;
    top: 12px;
    

    font-style: normal;
    font-size: 32px;
    line-height: 39px;
    text-decoration: none;
    color: #FFFFFF;
}

ul {
    list-style-type: none;
}

.container .content-section-1 {

    position: absolute;

    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    
    color: #040404;

}



.container .content-section-1 .form .input-div {
    position: absolute;
    width: 200px;
    height: 24px;
    left: 46px;
    top: 162px;
    

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #7C7C7C;
}
.container .content-section-1 .form .input-div .input-text {
    position: absolute;
    width: 550px;
    height: 51px;
    left: 0px;
    top: 33px;
    padding: 1px;
    background: #FFFFFF;
    border: 1px solid #505050;
    border-radius: 10px;
    
}


.container .content-section-1 .form .input-div-1 {
    position: absolute;
    width: 209px;
    height: 24px;
    left: 46px;
    top: 270px;
    

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #7C7C7C;
}
.container .content-section-1 .form .input-div-1 .input-text-1 {
    position: absolute;
    width: 550px;
    height: 51px;
    left: 0px;
    top: 31px;
    background: #FFFFFF;
border: 1px solid #505050;
border-radius: 10px;
    
}

.add-btn {

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    position: absolute;
    width: 173px;
    height: 55px;
    left: 716px;
    top: 338px;

    
    background: #2C4EF1;
    border: 1px solid #2C4EF1;
    border-radius: 10px;
    color: #FFFFFF;

}

.container-section-2{

    box-sizing: border-box;
    position: absolute;
    width: 524px;
    height: 691px;
    left: 1071px;
    top: 0;

    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    
    color: #040404;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.container-section-2 h2 {
    margin: 10px;
    text-align: center;
}
.container-section-2 .table-div {

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding: 0px;
    text-align: center;
    color: #505050;
}
.hr-2 {
    width: 520px;
}

th {
    padding: 30px;
}

.actions-btns-delete {
    position: absolute;
    width: 98px;
    height: 38px;
    left: 385px;
    top: 170px;   
    background: #362D64;
    border: 1px solid #362D64;
    border-radius: 10px;
    color: #FFFFFF;
} 